<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p>Meet Ankit Raj, a final year Mechanical Engineering student at IIT Kharagpur, whose journey exemplifies dedication, passion, and academic excellence. With a thirst for knowledge and an unwavering commitment to his studies.</p>
        <p>Hailing from a small town, my journey to IIT Kharagpur reflects my resilience and determination. My academic prowess is matched only by his curiosity to explore the intricacies of mechanical systems. My exceptional problem-solving abilities and innovative mindset have not only earned my accolades but have also contributed to projects that showcase his ingenuity.</p>
        <p>Becoming a software engineer is my aspiration. The world of coding and technology intrigues me. I'm driven to create innovative solutions, embrace challenges, and continuously learn. With determination and a passion for problem-solving, I'm committed to forging a successful path in the dynamic realm of software engineering.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>